*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



.background{
    background: linear-gradient(220.55deg, #FF8570 0%, #418CB7 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .form-creater{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .input-create{
        width: 17rem;
        height: 2rem;
        border: none;
        border-radius: 2rem;
        padding-left: 1.5rem;
    }

    .label-create{
        
        
    }

    textarea{
        width: 20rem;
        height: 10rem;
        padding-left: 1.5rem;
        padding: 0.5rem;
        resize: none;
    }

    .input-create[type="file"]::file-selector-button {
        background-color: #e6e6e6;
        border: none;
        border-radius: 2rem;
        cursor: pointer;
        width: 10rem;
        height: 2rem;

        &:hover{
            background-color: #418CB7;
        }
      }

    .button-create{
        width: 10rem;
        height: 2rem;
        border: none;
        border-radius: 2rem;
        cursor: pointer;

        &:hover{
            background-color: #418CB7;
        }
    }
}

}


